.match-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
	min-height: 200px;
	margin: 10px 0 30px;
	border: 1px solid var(--gray-light);
	background-color: var(--black);
	border-radius: 10px;
	z-index: 0;

	background-image: url(/img/lch.png);
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: -100px -40px;
}

.match-disabled {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(69 69 69 / 91%);
	top: 0;
	left: 0;
	z-index: 2;
	backdrop-filter: blur(5px);
}

.match-disable-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	max-height: 200px;
	height: 100%;
	justify-content: center;
}

.started-time {
	position: absolute;
	top: -10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #8d8d8d;
	border: 1px solid #8d8d8d;
	border-radius: 5px;
	padding: 0px 20px;
	color: #1d2025;

	z-index: 3;
}

.match-content {
	display: block;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
	padding: 10px;
	overflow: hidden;
	border-radius: 9px;
	box-sizing: border-box;
	margin: auto 0;
}

.match-content.disable {
	margin: 0;
}

.match-info {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
}

.team-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 5px;
}

.team-item.first {
	left: 0;
}

.team-item.last {
	right: 0;
}

.center-item {
	padding: 10px;
	position: relative;
}

.tab-item.active {
	color: var(--white);
	background-color: var(--green);
	border: 1px solid var(--green-black);
}

.tab-item {
	color: var(--gray-light);
	background-color: var(--black);
	border: 1px solid var(--gray-light);
}

.team-icon {
	width: 45px;
	height: 45px;
	margin-bottom: 10px;
}

.team-name {
	font-size: 12px;
	font-weight: 500;
	text-align: center;
}

.wrapper-prediction {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.prediction-increment {
	height: 50px;
	width: 50px;
	border: 1px solid #fff;
}

.prediction {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	width: 35px;
	border: 1px solid var(--gray-dark);
	border-radius: 5px;
	background-color: var(--body);
}

.prediction-button {
	bottom: 10px;
	flex-direction: column;
	align-items: center;
	background-color: #303030;
	border: 1px solid #424141;
	border-radius: 5px;
	padding: 2px 5px;
	color: #fff;
	display: block;
	margin: 0 auto;
	text-align: center;
	width: fit-content;
	margin-top: 10px;
}

.match-point {
	position: relative;
	top: 0;
	right: 0;
	color: var(--green);
	z-index: 4;
	display: flex;
	align-content: flex-start;
	align-items: flex-start;
	height: 37px;
	width: auto;
}

span.match-point-value {
	font-size: 40px;
	line-height: 37px;
	font-weight: 600;
}

span.match-point-text {
	writing-mode: vertical-rl;
	font-size: 10px;
	line-height: normal;
	font-weight: 600;
	transform: rotate(180deg);
}

.match-point sup {
	font-size: 100%;
	top: 0em;
}

.match-teams-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.teams-item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.predictions-results-match {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	color: var(--green);
}

.result-match {
	display: flex;
	justify-content: center;
}

.result-match span {
	width: 24px;
	text-align: center;
}

.match-wrapper:last-child {
	margin-bottom: 75px;
}

.match-result {
	font-size: 3rem;
	line-height: 1;
}

@media screen and (max-width: 380px) {
	.match-result {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
}

@media screen and (max-width: 334px) {
	.match-result {
		font-size: 1.8rem;
		line-height: 1.8rem;
	}
}