.card-prediction:last-child {
	margin-bottom: 75px;
}

.load-more-btn {
	color: var(--gray-light);
	margin: -55px auto 75px auto;
	display: block;
}

.card-prediction:last-child + .load-more-btn {
	margin-top: 20px;
}

.card-prediction:last-child.no-button + .load-more-btn {
	margin-top: 75px;
}

@media screen and (max-width: 341px) {
	.card-prediction span.truncate {
		font-size: 12px;
	}
}
