.wrapper-top-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--gray-light);
	padding: 3px 15px 3px 15px;
	margin: 100px 10px 20px 10px;
	border: 1px solid var(--green-dark);
	border-radius: 10px;
}

.point-block {
	display: flex;
	width: 150px;
	align-items: flex-end;
	margin-left: 17px;
}

.wrapper-points-info {
	display: flex;
	justify-content: center;
}

.place-item {
	margin-right: 20px;
}

.point-item,
.place-item {
	display: flex;
	font-size: 15px;
	line-height: 1;
	font-weight: 400;
	align-items: center;
}

.icon-item {
	margin-right: 7px;
}