.main-container {
	@apply flex-grow mt-8 rounded-t-[48px] relative z-0;
	box-shadow: 0 -26px 20px rgba(6, 153, 3, 0.43);
	border-top: 1px solid #847705;
}

.content-wrapper {
	@apply top-[2px] left-0 right-0 bottom-0 rounded-t-[46px];
}

.title-page {
	@apply text-white mb-6 mt-2 text-3xl px-1;
}

::-webkit-scrollbar {
	width: 0;
}