@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

:root {
  --bgClr: #1d2025;
  --body: #282828;
  --black: #1D1D1D;
  --green: #009B01;
  --green-black: #026002;
  --gray: ;
  --gray-light: #818181;
  --gray-dark: rgb(129, 129, 129, 20%);
  --white: #fff;
}

body {
  min-height: 100vh;
  background: var(--body);
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}