@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgClr: #1d2025;
}

body {
  min-height: 100vh;
  background: var(--bgClr);
  font-family: "Istok Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}