@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bgClr: rgb(40, 40, 40);
}

body {
  min-height: 100vh;
  background: var(--bgClr);
}